<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibm.issue.dao.UserAndIdentityMapper">
	<resultMap id="UserAndIdentity"
		type="com.ibm.issue.pojo.User">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="userId" jdbcType="VARCHAR" property="userid" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="password" jdbcType="VARCHAR"
			property="password" />
		<result column="signUp" jdbcType="DATE" property="signup" />
		<result column="permission" jdbcType="INTEGER"
			property="permission" />
		<result column="userState" jdbcType="CHAR" property="userstate" />
		<association property="identity"
			javaType="com.ibm.issue.pojo.Identity">
			<id column="id" property="id" jdbcType="INTEGER" />
			<result column="pid" property="pid" jdbcType="INTEGER" />
			<result column="position" property="position"
				jdbcType="VARCHAR" />
		</association>
	</resultMap>



	<resultMap id="ReportAndState"
		type="com.ibm.issue.pojo.Report">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="issueId" jdbcType="VARCHAR" property="issueid" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="type" jdbcType="VARCHAR" property="type" />
		<result column="level" jdbcType="CHAR" property="level" />
		<result column="version" jdbcType="VARCHAR" property="version" />
		<result column="creator" jdbcType="VARCHAR" property="creator" />
		<result column="createDate" jdbcType="DATE"
			property="createdate" />
		<result column="modifier" jdbcType="VARCHAR"
			property="modifier" />
		<result column="state" jdbcType="INTEGER" property="state" />
		<result column="planDate" jdbcType="DATE" property="plandate" />
		<result column="endDate" jdbcType="DATE" property="enddate" />
		<association property="issuestate"
			javaType="com.ibm.issue.pojo.Issuestate">
			<id column="id" property="id" jdbcType="INTEGER" />
			<result column="sid" property="sid" jdbcType="INTEGER" />
			<result column="detail" property="detail" jdbcType="VARCHAR" />
		</association>
	</resultMap>


	<resultMap id="IssueReport"
		type="com.ibm.issue.pojo.IssueReport">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="userId" jdbcType="VARCHAR" property="userid" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="createNum" jdbcType="INTEGER"
			property="createNum" />
		<result column="modifiNum" jdbcType="INTEGER"
			property="modifiNum" />
		<result column="finishNum" jdbcType="INTEGER"
			property="finishNum" />
		<result column="completeRate" jdbcType="DOUBLE"
			property="completeRate" />
		<association property="report"
			javaType="com.ibm.issue.pojo.Report">
			<result column="creator" property="creator" jdbcType="VARCHAR" />
			<result column="modifier" property="modifier"
				jdbcType="VARCHAR" />
			<result column="state" property="state" jdbcType="INTEGER" />
		</association>
	</resultMap>


	<select id="test" resultMap="UserAndIdentity">
		select
		user.id,
		user.userId,user.name,user.email,user.password,user.signUp,user.userState,identity.position
		from user,identity
		where user.permission = identity.pid AND
		user.permission !=3
		<if test="userid != null">
			AND userId like concat('%', #{userid}, '%')
		</if>
		<if test="name != null">
			AND name like concat('%', #{name}, '%')
		</if>

	</select>

	<select id="findUserAndIdentity" resultMap="UserAndIdentity">
		select
		user.id,user.userId,user.name,user.email,user.password,user.signUp,user.userState,identity.position
		from user,identity
		where user.permission = identity.pid AND
		user.permission !=3
		<if test="user != null">
			<if test="user.userid != null">
				AND user.userId like concat('%', #{user.userid}, '%')
			</if>
		</if>
		<if test="user != null">
			<if test="user.name != null">
				AND user.name like concat('%', #{user.name}, '%')
			</if>
		</if>
	</select>


	<select id="findReportAndState2" resultMap="ReportAndState">
		select
		r.id,r.issueId,r.title,r.creator,r.createDate,r.modifier,i.detail,r.planDate,r.endDate
		from report r,issuestate i
		where r.state = i.sid
		<if test="issueid != null">
			AND issueId like concat('%', #{issueid}, '%')
		</if>
		<if test="state != null">
			AND state like concat('%', #{state}, '%')
		</if>
		<if test="creator != null">
			AND creator like concat('%', #{creator}, '%')
		</if>
		<if test="modifier != null">
			AND modifier like concat('%', #{modifier}, '%')
		</if>

		<if test="createStartDate != null and createEndDate == null">
			AND createdate &gt; #{createStartDate}
		</if>
		<if test="createStartDate == null and createEndDate != null">
			AND createdate &lt; #{createEndDate}
		</if>
		<if test="createStartDate != null and createEndDate != null">
			AND createdate between #{createStartDate} and
			#{createEndDate}
		</if>

		<if test="endStartDate != null and endEndDate != null">
			AND enddate
			between #{endStartDate} and #{endEndDate}
		</if>
		<if test="endStartDate != null and endEndDate == null">
			AND enddate
			&gt; #{endStartDate}
		</if>
		<if test="endStartDate = null and endEndDate != null">
			AND enddate
			&lt; #{endEndDate}
		</if>
	</select>


	<select id="findIssueReport" resultMap="IssueReport">
		SELECT
		user.id,
		user.userId,
		user.name,
		(SELECT COUNT(report.id) FROM
		report WHERE report.creator=user.userId) as createNum ,
		(SELECT
		COUNT(report.id) FROM report WHERE report.modifier=user.userId) as
		modifiNum ,
		(SELECT COUNT(report.id) FROM report WHERE
		report.modifier=user.userId and report.state = 3) as finishNum,
		(SELECT COUNT(report.id) FROM report WHERE report.modifier=user.userId
		and report.state = 3)/(SELECT COUNT(report.id) FROM report WHERE
		report.modifier=user.userId) as completeRate
		FROM
		user,report
		WHERE
		user.permission = 1
		<!--<choose> <when test="userid != null and userid != '' and (name==null 
			or name == '')"> WHERE user.userId like concat('%', #{userid}, '%') </when> 
			<when test="name != null and name != '' and (userid==null or userid == '' 
			)"> WHERE user.name like concat('%', #{name}, '%') </when> <when test="userid 
			!= null and userid != '' and name != null and name != '' "> WHERE user.userId 
			like concat('%', #{userid}, '%') AND user.name like concat('%', #{name}, 
			'%') </when> <otherwise> </otherwise> </choose> <if test="userid != null 
			and userid != '' "> WHERE user.userId like concat('%', #{userid}, '%') </if> 
			<if test="name != null and name != '' "> WHERE user.name like concat('%', 
			#{name}, '%') </if> -->
		<choose>
			<when
				test="userid 
			!= null and userid != '' and (name==null or name == '')"> AND user.userId
				like concat('%', #{userid}, '%') </when>
			<when
				test="name != null and name 
			!= '' and (userid==null or userid == '' )"> AND user.name like concat('%',
				#{name}, '%') </when>
			<when
				test="userid != null and userid != '' and name 
			!= null and name != '' "> AND user.userId like concat('%', #{userid}, '%')
				AND user.name
				like concat('%', #{name}, '%') </when>
			<otherwise>
			</otherwise>
		</choose>
		GROUP BY
		user.id;
	</select>


	<select id="findIssueReportToSend" resultType="IssueReport">
		SELECT
		user.id,
		user.userId,
		user.name,
		(SELECT COUNT(report.id) FROM
		report WHERE
		report.creator=user.userId) as createNum ,
		(SELECT COUNT(report.id)
		FROM report WHERE report.modifier=user.userId) as
		modifiNum ,
		(SELECT
		COUNT(report.id) FROM report WHERE
		report.modifier=user.userId and
		report.state = 3) as finishNum,
		(SELECT COUNT(report.id) FROM report
		WHERE report.modifier=user.userId
		and report.state = 3)/(SELECT
		COUNT(report.id) FROM report WHERE
		report.modifier=user.userId) as
		completeRate
		FROM
		user,report
		WHERE user.userId = #{userid}
		GROUP BY
		user.id;
	</select>


	<select id="findIssueReportToSend2" resultType="IssueReport">
		SELECT
		user.id,
		user.userId,
		user.name,
		(SELECT COUNT(report.id) FROM report WHERE report.creator=user.userId and
		report.state = 2) AS modifiNum,
		(SELECT COUNT(report.id) FROM report WHERE report.modifier=user.userId ) AS
		createNum
		FROM
		user,report
		WHERE user.userid = "123"
		GROUP BY
		user.id;
	</select>


	<!-- 用于查询所有情况的映射 -->
	<resultMap id="AllMessage"
		type="com.ibm.issue.pojo.AllMessage">
		<result column="commonNum" jdbcType="INTEGER"
			property="commonNum" />
		<result column="manageNum" jdbcType="INTEGER"
			property="manageNum" />
		<result column="adminNum" jdbcType="INTEGER"
			property="adminNum" />
		<result column="createNum" jdbcType="INTEGER"
			property="createNum" />
		<result column="modefiNum" jdbcType="INTEGER"
			property="modefiNum" />
		<result column="finishNum" jdbcType="INTEGER"
			property="finishNum" />

	</resultMap>

	<select id="findUserAll" resultType="AllMessage">
		SELECT
		COUNT(IF(user.permission=1,1,null)) as commonNum,
		COUNT(IF(user.permission=2,1,null)) as manageNum,
		COUNT(IF(user.permission=3,1,null)) as adminNum
		FROM
		user;
	</select>

	<select id="findIssueAll" resultMap="AllMessage">
		SELECT
		COUNT(IF(report.state=1,1,null)) as createNum,
		COUNT(IF(report.state=2,1,null)) as modefiNum,
		COUNT(IF(report.state=3,1,null)) as finishNum
		FROM
		report;
	</select>



</mapper>